@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i");

body  
{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    background: #1b2849;
    text-align: center;
}

.building
{
    display: inline-block;
    font-size: x-large;
    color: white;
    font-weight: lighter;
    text-align: center;
}

.listInner
{
    display: inline-block;
    font-size: large;
    color: white;
    font-weight: lighter;
    text-align: center;
}

.goBack
{
    display: inline-block;
    text-align: left;
}